<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/style.css">

<h2>Welcome to the YelpCamp landing page :)</h2>
<a href="/campgrounds"><button>view campgrounds</button></a>

<%- include("partials/footer.ejs") %>